[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
tensorflow = "2.2"
numpy = "*"
rlbot = "*"
glob2 = "*"
pandas = "*"
matplotlib = "*"
dill = "*"
keras = "*"
prettyprint = "*"
termcolor = "*"
pyquaternion = "*"
gekko = "*"
inputs = "*"
carball = "*"
pyspark = "*"

[requires]
python_version = "3.7"

[scripts]
toot = "python toot.py"
