[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
rlbot = "*"
glob3 = "*"
carball = "*"
matplotlib = "*"
cpickle = "*"
dill = "*"
readline = "*"
keras = "*"
prettyprint = "*"
termcolor = "*"
numpy-stl = "*"
pyquaternion = "*"
gekko = "*"

[requires]
python_version = "3.7"
